.not-found{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}